header {
    margin-bottom: 50px;
    font-family: 'Heebo', sans-serif;
}

body {
    background-color: azure;
    font-family: 'Heebo', sans-serif;

}

.close-mobile-menu {
    margin: 5px;
}

.tabs-dashboard {
    background-color: blue;
}

.btn-activity-input {
    width: 100%;
    margin: 5px;
}

.btn-activity-stop {
    margin-top: 20px;
    width: 25%;
}

.container-timer {
    height: 40vh;
}

.modal {
    background-color: #ea6f75;
}