header {
    margin-bottom: 50px;
    font-family: 'Heebo', sans-serif;
}

body {
    background-color: azure;
    font-family: 'Montserrat', sans-serif;
    color: #262626;

}

.close-mobile-menu {
    margin: 5px;
}

.tabs-dashboard {
    background-color: blue;
}

.btn-activity-input {
    width: 100%;
    margin: 5px;
}


.container-timer {
    height: 40vh;
}

.modal-radio {
    background-color: darkslategray;
}

.time-tracker-intro {
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

.full-width {
    width: 100%;
    margin-top: 20px;
}