{% extends "base.html" %}
{% block content %}

    {% for activity in activities %}
        {{ activity.activity_name }}<br>
        {{ activity.start_time }}<br>
        {{ activity.end_time }}<br>
    {% endfor %}
<div class="row">
    <div class="col s2 center">
    </div>
    <div class="col s2 center">
        <a class="waves-effect waves-light btn-large btn-activity-input"><i class="fas fa-briefcase left"></i>Work</a>
    </div>
    <div class="col s2 center">
        <a class="waves-effect waves-light btn-large btn-activity-input"><i class="fas fa-bed left"></i>Sleep</a>
    </div>
    <div class="col s2 center">
        <a class="waves-effect waves-light btn-large btn-activity-input"><i class="fas fa-baby left"></i>Childcare</a>
    </div>
    <div class="col s2 center">
        <a class="waves-effect waves-light btn-large btn-activity-input"><i class="fas fa-graduation-cap left"></i>Study</a>
    </div>
    <div class="col s2 center">
    </div>
</div>
<div class="row">
    <div class="col s2 center">
    </div>
    <div class="col s2 center">
        <a class="waves-effect waves-light btn-large btn-activity-input"><i class="fas fa-dumbbell left"></i>Strength Training</a>
    </div>
    <div class="col s2 center">
        <a class="waves-effect waves-light btn-large btn-activity-input"><i class="fas fa-running left"></i>Cardio</a>
    </div>
    <div class="col s2 center">
        <a class="waves-effect waves-light btn-large btn-activity-input"><i class="fas fa-guitar left"></i>Play Music</a>
    </div>
    <div class="col s2 center">
        <a class="waves-effect waves-light btn-large btn-activity-input"><i class="fas fa-soap left"></i>Cleaning</a>
    </div>
    <div class="col s2 center">
    </div>
</div>
<div class="row">
    <div class="col s2 center">
    </div>
    <div class="col s2 center">
        <a class="waves-effect waves-light btn-large btn-activity-input"><i class="fas fa-compass left"></i>Travel</a>
    </div>
    <div class="col s2 center">
        <a class="waves-effect waves-light btn-large btn-activity-input"><i class="fas fa-film left"></i>Watching</a>
    </div>
    <div class="col s2 center">
        <a class="waves-effect waves-light btn-large btn-activity-input"><i class="fas fa-gamepad left"></i>Videogames</a>
    </div>
    <div class="col s2 center">
        <a class="waves-effect waves-light btn-large btn-activity-input"><i class="fas fa-random left"></i>Other</a>
    </div>
    <div class="col s2 center">
    </div>
</div>
{% endblock %}