{% extends "base.html" %}
{% block content %}

    {% for activity in activities %}
        {{ activity.activity_name }}<br>
        {{ activity.start_time }}<br>
        {{ activity.end_time }}<br>
    {% endfor %}

<div class="row container-timer">
    <div class="col s12 center">
        <p>This is where I'm building the timer</p>
        <br>
        <h4>Duration:</h4>
        <h1 style="font-weight: 600;"> 00:02:47</h1>
        <br>
        <h4>Currently you are:</h4>
        <h1 style="font-weight: 600;"><i class="fas fa-briefcase"></i>  Working</h1>
        <a class="waves-effect waves-light btn-small red darken-1 btn-activity-stop">Stop</a>
    </div>
</div>
<div class="row">
    <div class="col s6 m4 l3 center">
        <a class="waves-effect waves-light btn-large btn-activity-input"><i class="fas fa-briefcase left"></i>Work</a>
    </div>
    <div class="col s6 m4 l3 center">
        <a class="waves-effect waves-light btn-large btn-activity-input"><i class="fas fa-bed left"></i>Sleep</a>
    </div>
    <div class="col s6 m4 l3 center">
        <a class="waves-effect waves-light btn-large btn-activity-input"><i class="fas fa-baby left"></i>Childcare</a>
    </div>
    <div class="col s6 m4 l3 center">
        <a class="waves-effect waves-light btn-large btn-activity-input"><i class="fas fa-graduation-cap left"></i>Study</a>
    </div>
    <div class="col s6 m4 l3 center">
        <a class="waves-effect waves-light btn-large btn-activity-input"><i class="fas fa-dumbbell left"></i>Strength</a>
    </div>
    <div class="col s6 m4 l3 center">
        <a class="waves-effect waves-light btn-large btn-activity-input"><i class="fas fa-running left"></i>Cardio</a>
    </div>
    <div class="col s6 m4 l3 center">
        <a class="waves-effect waves-light btn-large btn-activity-input"><i class="fas fa-guitar left"></i>Play Music</a>
    </div>
    <div class="col s6 m4 l3 center">
        <a class="waves-effect waves-light btn-large btn-activity-input"><i class="fas fa-soap left"></i>Cleaning</a>
    </div>
    <div class="col s6 m4 l3 center">
        <a class="waves-effect waves-light btn-large btn-activity-input"><i class="fas fa-compass left"></i>Travel</a>
    </div>
    <div class="col s6 m4 l3 center">
        <a class="waves-effect waves-light btn-large btn-activity-input"><i class="fas fa-film left"></i>Watching</a>
    </div>
    <div class="col s6 m4 l3 center">
        <a class="waves-effect waves-light btn-large btn-activity-input"><i class="fas fa-gamepad left"></i>Videogames</a>
    </div>
    <div class="col s6 m4 l3 center">
        <a class="waves-effect waves-light btn-large btn-activity-input"><i class="fas fa-random left"></i>Other</a>
    </div>
</div>
{% endblock %}