{% extends "base.html" %}
{% block content %}


<div class="row">
    <div class="col s12 center">
        <h1>Welcome to <strong>KATT</strong></h1>
        <h1><strong>K</strong>ick-<strong>A</strong>ss <strong>T</strong>ime <strong>T</strong>racker</h1>
        <br>
        <p>As a rolling stone once said, "time... is always on my side"</p>
        <br>
        <br>
        <iframe src="https://giphy.com/embed/BzyTuYCmvSORqs1ABM" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/hallmarkecards-cute-hallmark-shoebox-BzyTuYCmvSORqs1ABM">via GIPHY</a></p>
    </div>
</div>

{% endblock %}